#main-footer {
  padding: 3% 0;
  color: $blue;
}

.footer-center {
  width: 380px;
  margin: 0 auto;
  font-weight: bold;

  .footer-title {
    font-size: 3rem;
    text-align: center;
    margin: 0 0 .5rem;
  }

  .footer-sub-title {
    text-align: center;

    .rings {
      margin: 0 1.5rem;
      vertical-align: middle
    }
  }

  @media (max-width: $m-mobile) {
    width: auto;

    .footer-sub-title {
      .rings {
        margin: 1rem auto;
      }

      & > * {
        display: block;
      }
    }
  }
}
