label {
  font-weight: normal;

  & + label {
    margin-left: none;

    @media (min-width: $m-phablet) {
      margin-left: 1rem;
    }
  }

  @media (min-width: $m-phablet) {
    display: inline;
  }
}

.form-text {
  &, &-small {
    margin: 1rem 0;
    font-weight: bold;
  }
  &-small {
    margin: 1rem 0;
    font-size: 1.4rem;
  }
}

.question-container {
  margin-bottom: 3rem;
}

.question-reply-container {
  padding-left: 2rem;
}
