label {
  font-weight: normal;

  & + label {
    margin-left: none;

    @media (min-width: $m-phablet) {
      margin-left: 1rem;
    }
  }

  @media (min-width: $m-phablet) {
    display: inline;
  }

  input[type="radio"] {
    margin-left: 0.25rem;
  }
}

.emphasize {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  color: $blue;
  text-transform: uppercase;
}

.form-text {
  &, &-small {
    margin: 1rem 0;
    font-weight: bold;
  }
  &-small {
    margin: 1rem 0;
    font-size: 1.4rem;
  }
}

.form-group {
  label {
    display: inline-block;
    padding-right: 1rem;
    min-width: 12rem;
  }
}

.form-input {
  width: 100%;
  display: block;
}

.question-container {
  margin-bottom: 3rem;
}

.question-reply-container {
  padding-left: 2rem;
}
