html {
  font-size: 65%;
}

body {
  background: $pink;
}

::selection {
  background: $highlight-blue;
}
::-moz-selection {
  background: $highlight-blue;
}

input,
input[type=email],
input[type=number],
input[type=password],
input[type=search],
input[type=tel],
input[type=text],
input[type=url],
select,
textarea {
  color: #000;
  text-shadow: none !important;
  font-weight: normal !important;

  &:focus {
    border-color: $blue;
  }
}

a {
  color: $blue;

  &:focus,
  &:hover {
    color: $light-blue;
  }
}

.button,
button,
input[type="button"],
input[type="submit"] {
  &.button-primary {
    background-color: $blue;
    border-color: $blue;

    &:hover,
    &:focus {
      background-color: $light-blue;
      border-color: $light-blue;
    }
  }
  &, &.button-secondary {
    border-color: $blue;
    color: $blue;

    &:hover,
    &:focus {
      border-color: $light-blue;
      color: $light-blue;
    }
  }
}

table {
  &, tr, td {
    border-color: $blue;
  }
}

ul {
  list-style-type: disc;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.pink {
  color: $pink;
}
.blue {
  color: $blue;
}

@media (min-width: $m-is-mobile) {
  .visible-mobile {
    display: none !important;
  }
}

.is-attending {
  color: $green;
}
.is-not-attending {
  color: $red;
}

.text-center {
  text-align: center;
}

.sub-heading {
  margin-bottom: 3rem;
  font-size: 2.2rem;
  letter-spacing: 1px;
}

//
// sections
//

$main-min-height: 80vh;

.splash-header {
  position: relative;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: $main-min-height;
  margin: 0 auto;
  padding-top: 3rem;
  padding-bottom: 3rem;
  color: #fff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9), -1px -1px 1px rgba(0, 0, 0, 0.3);
  overflow: hidden;

  & > * {
    z-index: 1;
  }

  // overlay
  &:after {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: "";
    background-color: rgba(0, 0, 0, 0.35);

  }

  h1 {
    text-align: left;

    @media (min-width: $m-phablet) {
      text-align: center;
    }
  }

  h2, h3 {
    text-align: center;
  }
}

#main {
  min-height: $main-min-height - 20vh;
  background: lighten($pink, 18%);
  padding: 3rem;

  @media (max-width: $m-mobile) {
    padding: 1rem;
  }
}
