// colours
$pink: desaturate(#E6C7B5, 10%); //#E6C7B5;
$blue: #072B4B;
$light-pink: lighten($pink, 14%);
$dark-pink: darken($pink, 10%);
$light-blue: lighten($blue, 10%);
$highlight-blue: lighten($blue, 75%);

$red: #c0392b;
$green: #19703e;

// media query breakpoints
$m-mobile: 400px;
$m-phablet: 550px;
$m-tablet: 750px;
$m-desktop: 1000px;
$m-desktopHD: 1200px;

$m-is-mobile: $m-desktop + 50px;
