#details {
  .splash-header {
    background-image: url('../img/details-bg.jpg');
    background-position: center 20%;
  }

  .details-column {
    min-height: 60rem;

    .details-list {
      min-height: 7rem;
    }

    .details-list,
    address {
      font-size: 1.6rem;
    }

    address {
      font-style: normal;
      margin-bottom: 2rem;
      text-align: center;
    }

    @media (max-width: $m-tablet + 50px) {
      min-height: 0;

      .details-list {
        min-height: 0;
      }
    }
  }
}
