#song-request {
  @media (max-width: $m-tablet + 50px) {
    .song-request-column {
      display: block;
      width: 100%;
      margin-left: 0;

      & + .song-request-column {
        padding-top: 4rem;
      }
    }
  }
}

#song-request-table {
  form {
    margin: 0;
  }
  tbody {
    tr {
      &:hover,
      &:focus {
        background-color: $light-pink;
        .request-button {
          visibility: visible;
        }
      }
    }
  }
  td {
    border: 0;
    padding: 6px 8px;
  }
  .request-button {
    margin-bottom: 0;
    @media (min-width: $m-desktopHD) {
      visibility: hidden;
    }
  }
}
